/*
//Proyecto Colores
.color-title{
    font-weight: normal;
}
#red{
    color:red;
}
#blue{
    color:blue;
}
#orange{
    color:orange;
}
#green{
    color:green;
}
#yellow{
    color:yellow;
}
img{
    width: 200px;
    height: 200px;
}
*/

/*
//Proyecto Poster_Motivacional
.meme{
    align-items: center;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    font-family: 'Libre Baskerville', serif;
    color: white;
}
h1{
    text-transform: capitalize;
    font-size: 3rem;
}
img{
    width: 65%;
    border: solid 10px rgb(125, 129, 127);
    margin-bottom: -15px;
}
body{
    background-color: black;
}
*/
